.chart-main-container {
  font-size: var(--font-size-10);
  letter-spacing: var(--letter-spacing);
  background-color: var(--reports-page-bgcolor);
  color: var(--font-color-gray);
  font-weight: 400;
  padding: 40px 30px 52px 20px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.bar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 15px;
  background-color: var(--bar-color-primary);
  border-radius: 0 10px 10px 0;
}

.bar-container:nth-child(3n + 1) {
  background-color: var(--bar-color-second);
}

.label {
  position: relative;
  top: -15px;
  width: 100%;
  text-align: left;
}

.amount {
  position: relative;
  top: -25px;
  right: -15px;
  width: 100%;
  text-align: right;
}

/* Tablety (768px+) */
@media (min-width: 768px) {
  .chart-main-container {
    font-size: var(--font-size-12);
    padding: 50px 30px 44px 20px;
    margin: 40px 0 80px;
    border-radius: 30px;
    box-shadow: 0 10px 60px 0 rgba(170, 178, 197, 0.2);
  }

  .chart-container {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
    margin: 0 35px;
    height: 328px;
    background: repeating-linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1) 0px,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 40px
    );
  }

  .bar-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 38px;
    border-radius: 10px 10px 0 0;
  }

  .label {
    position: absolute;
    align-self: flex-end;
    bottom: -20px;
    text-align: center;
  }

  .amount {
    position: absolute;
    align-self: flex-start;
    top: -20px;
    right: 0;
    white-space: nowrap;
  }
}

/* Desktopy (1280px+) */
@media (min-width: 1280px) {
  .chart-container {
    margin: 0 138px;
  }
}
