.reports-detailed-main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--text-light-color);
  box-shadow: 0 10px 60px 0 rgba(170, 178, 197, 0.2);
  border-radius: 30px;
  margin-top: 32px;
}
