.container-page-reports {
  --reports-page-width: 1034px;
  --reports-page-bgcolor: rgba(224, 229, 235, 1);
  --font-family: "Roboto", sans-serif;
  --second-family: "Montserrat", sans-serif;

  width: var(--reports-page-width);
  font-family: var(--font-family);
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}