.reports-expenses-income-row-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: var(--default-font-size);
  color: var(--primary-color);
  letter-spacing: 0.04em;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 10px 60px 0 rgba(170, 178, 197, 0.2);
  margin-top: 32px;
}

.reports-expenses-income-row-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.reports-value {
  padding-left: 0;
}

.reports-expenses-value {
  color: var(--expences-color);
}

.reports-income-value {
  color: var(--incomes-color);
}

.reports-icon-divider {
  width: 2px;
  height: 70px;
}

@media screen and (min-width: 768px /*var(--brakpoint-medium)*/) {
  .reports-expenses-income-row-container {
    padding: 15px 20px;
  }
  .reports-value {
    padding-left: 15px;
  }
  .reports-icon-divider {
    height: 36px;
  }
}
