.imported-middle-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
    color: inherit;
    background-color: white;
    width: 334px;
    height: 44px;

}