@import-normalize;

/* bring in normalize.css styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Roboto", sans-serif;

  --primary-color: #52555f;
  /* orange in figma */
  --secondary-color: rgb(255, 117, 29);
  /* orange in figma */
  --tertiary-color: #fed9bf;
  /* lighter orange in figma */
  --accent-color: #f5f6fb;
  /* bacground, outline, placeholder, ect. */
  --lighter-accent-color: #fafbfd;
  /* expenses/income tab bacground */

  --text-light-color: white;
  --text-dark-color: black;
  --alert-color: #eb5757;
  /* login required */

  --icon-fill-color: #071f41;

  --expences-color: #e53935;
  --incomes-color: #407946;

  --modal-gradient: linear-gradient(147deg,
      rgba(29, 52, 106, 1) 0%,
      rgba(3, 22, 52, 1) 100%);
  --toogle-bg: #ff751d;
  --toogle-fg: rgb(82, 85, 95);
}

/* kolory do dark mode do ustalenia */
[data-theme="dark"] {
  --primay-color: #ff751d;
  --secondary-color: #f5f6fb;
  --tertiary-color: black;
  --accent-color: #242424;
  --lighter-accent-color: #333333;
}

body {
  margin: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(221, 202, 202);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}