@import-normalize;

/* bring in normalize.css styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-background: rgb(176, 196, 222);
  /* header */
  --header-background: rgb(30, 144, 255);
  --header-text-color: rgb(255, 255, 255);
  --header-text-hover-color: rgb(0, 0, 255);
  --header-text-active-background: rgb(0, 0, 255);
  /* main */
  --main-background: rgb(135, 206, 250);
  /* component */
  --nav-component-background: rgb(139, 0, 0);
  --nav-component-text-color: rgb(248, 248, 255);
  --nav-component-text-hover-color: rgb(255, 0, 0);
  --nav-component-text-active-background: rgb(255, 0, 0);
  --main-component-background: rgb(205, 92, 92);
  /* others */
  --nav-others-background: rgb(0, 100, 0);
  --nav-others-text-color: rgb(248, 248, 255);
  --nav-others-text-hover-color: rgb(124, 252, 0);
  --nav-others-text-active-background: rgb(124, 252, 0);
  --main-others-background: rgb(0, 250, 154);
  /* footer */
  --footer-background: rgb(30, 144, 255);
  --footer-text-color: rgb(0, 0, 255);

}

body {
  margin: 0 ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}