.reports-page-main-container {
  --reports-page-width: 1034px;
  --reports-page-bgcolor: rgba(255, 255, 255, 1);
  --font-family: "Roboto", sans-serif;
  --second-family: "Montserrat", sans-serif;

  max-width: var(--reports-page-width);
  font-family: var(--font-family);
  margin: 40px 123px 0;
  display: flex;
  flex-direction: column;
}

 .reports-page-first-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .reports-page-third-container {
  
   
   
 }

@media screen and (min-width: 772px) and (max-width: 1279px) {
  .reports-page-main-container {
      margin: 40px 32px 0;
    }
}

 @media screen and (max-width: 771px) {
  .reports-page-main-container {
    margin: 16px 20px 0;
  }
 }


 @media screen and (min-width: 772px) and (max-width: 1279px) {}

 @media screen and (max-width: 771px) {}